<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <h2>Create new message!</h2>
    <hr>
    <form action="/new-message" method="post">
        <label for="msgTitle">Title</label>
        <input type="text" id="msgTitle" name="msgTitle" placeholder="Title" required>
        <textarea name="msg" id="msg" required>Enter Message...</textarea>
        <button type="submit">Post</button>
    </form>
</body>
</html>