<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>
<body>
    <% if (user.memberstatusid >= 3) { %>
        <h1>You already are an admin!</h1>
    <% } %>
    <% if (user.memberstatusid >= 2) { %>
        <h1>You are already a true member!</h1>
    <%} else {%>
        <h1>You want to become a member?</h1>
        <h2>Enter the secret password to become a true member</h2>
        <hr>
        <form action="/secret" method="post">
            <input type="text" name="secret" id="secret" placeholder="Secret Password">
            <button>Become a Member</button>
        </form>
        <% if (locals.msg) { %>
            <p><%= msg %></p>
        <%}%>
    <%}%>
</body>
</html>