<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main class="main">
        <div class="secret-container">
            <% if (user.memberstatusid >= 3) { %>
                <h1>You already are an admin!</h1>
            <% } %>
            <% if (user.memberstatusid >= 2) { %>
                <h1>You are already a true member!</h1>
            <%} else {%>
                <h2>Enter the secret password</h2>
                <p>Enter 'secret' to become a member or 'admin' to become an admin</p>
                <form action="/secret" method="post">
                    <input type="text" name="secret" id="secret" placeholder="Secret Password" class="auth-input">
                    <button>Become a Member</button>
                </form>
                <% if (locals.msg) { %>
                    <p class="errMsg"><%= msg %></p>
                <%}%>
            <%}%>
        </div>
    </main>
</body>
</html>